.js-hidden{
    display: none !important;
}

.js-left{
    float:left;
}

.js-right{
    float:right;
}

.success{
    background-color: #1bf51b
}

.error{
    background-color : #ff0000;
}

.info{
    background-color : #ffb020
}

.js-alertbox-container{
    /* border: 1px solid black; */
    border-radius : 8px;
    padding: 10px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;

    /*-webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s; 
    -o-animation: fadein 3s;
    animation: fadein 3s;*/

}

.js-alertbox-body{
    font-weight: bold;
}

.js-alertbox-body .js-text{
    color:white;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all; 
    width: 200px;   
}

.js-alertbox-body .js-close-button{
    cursor: pointer;
}

.glyphicon-ok, .glyphicon-info-sign, .glyphicon-thumbs-down, .glyphicon-flash{
    font-size:3rem;
}

