.js-hidden{
    display: none !important;
}

.js-left{
    float:left;
}

.js-right{
    float:right;
}

.success{
    /*background-color: #1bf51b*/
    background: linear-gradient(to right, rgb(107, 191, 63) 0%, rgb(120, 229, 18) 100%);
}

.error{
    /*background-color : #ff0000;*/
    background: linear-gradient(to right, rgb(186, 11, 11) 1%, rgb(252, 62, 15) 100%);
}

.info{
    /*background-color : #ffb020*/
    background: linear-gradient(to right, rgb(255, 127, 4) 0%, rgb(239, 167, 100) 100%);
}

.js-alertbox{
    border-radius : 8px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.js-alertbox-body{
    font-weight: bold;
}

.js-alertbox-body .js-text{
    color:white;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all; 
    width: 200px;   
}

.js-alertbox-body .js-close-button{
    cursor: pointer;
}

.glyphicon-ok, .glyphicon-info-sign, .glyphicon-thumbs-down, .glyphicon-flash{
    font-size:3rem;
}
