.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.row.js-row-container{
  margin: 15px 0px;
}

.fade-enter{
    opacity:0;
}

.fade-enter-active{
  opacity:1;
  transition: opacity 1000ms ease-out;
}

.fade-leave{
    opacity:1;
}

.fade-leave-active{
  opacity:0;
  transition: opacity 1000ms ease-out;
}
.deneme{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width:294px;
}